</html>

<!DOCTYPE html>
<html lang="en">

<head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>DA VINCI 3D | {{ page.title }}</title>
       <link rel="stylesheet" href="/assets/main.css" />
</head>

<body>
       <div id="container3d"></div>
       <footer id="about">
              <img id="logo" src="/media/logos/logo-ok.png" />
              <h1 id="title">{{ page.title }}</h1>
              <div id="spacer"></div>
       </footer>
       {{ content }}
</body>

</html>